*{font-family: 'Open Sans', sans-serif;
    -webkit-user-select: none;}
    
    body{background:#e3e3e3;}
    
    nav{background:#996840;
    border-bottom:2px solid #fdfdfd;
    }
    
    footer{background:#996840;
    border-top:2px solid #fdfdfd;
    }
    
    h1{color:#50566b;
    font-family: 'Oswald', sans-serif;}
    h5{color:#50566b;
    font-family: 'Oswald', sans-serif;}
    
    
    
    
    a{text-decoration: none !important;
      font-variant: normal !important;
      text-transform: none !important;
      color:#DBDBDB !important;
      font-size:16px;}
    
    a:hover {
      text-decoration: none !important;
      font-variant: normal !important;
      text-transform: none !important;
      text-shadow:#F3F1F1 0 0 3px!important;
      font-size:16px;
      transition:0.8s ease;
      color:#F3F1F1 !important;
      }
    
    .deco{background: #e3e3e3;
      border: 2px solid #fdfdfd;
    }
    

h1,h2,h3,h4,h5,h6 {

   color : #384982;
}

.lienhere a{
  color : #384982!important; }