@font-face {
    font-family: 'oswald';
    src: url('oswald.eot');
    src: url('oswald.otf') format('truetype'),
         url('oswald.woff') format('woff'),
         url('oswald.eot?#iefix') format('embedded-opentype'),
         url('oswald.svg#QuadrantaBold') format('svg');
    font-weight: normal;
    font-style: normal;
    }
    a {
        text-decoration: none !important;
        font-variant: normal !important;
        text-transform: none !important;
      }
      
      a:hover {
        text-decoration: none !important;
        font-variant: normal !important;
        text-transform: none !important;
      }
      
      a:link,a:active,a:visited{
        text-decoration: none !important;
        font-variant: normal !important;
        text-transform: none !important;
      }
    /***COULEURS DE BASES***/
body{background:#E3E3E3;}
nav{background:#996840;}
footer{background:#996840;}   
title{color:#384982;}

   /***COULEURS BOUTONS***/
.btn{background:#996840;
    box-shadow:#3f2d0b 0 0 5px inset;
color:#dbdbdb;}

.btn:hover{background:#996840;
    box-shadow:#3f2d0b 0 0 15px inset;
    transition:1s;
    color:#e9e8e8;
    text-shadow:#e9e8e8 0 2px 2;
    letter-spacing:1px;}
    /**FIN COULEURS BOUTONS***/

    /***COULEUR SELECTION TEXTE***/
::selection{
    background: #af631cbd;
    color: #bfbfbf;
}

::-moz-selection{
    background: #af631cbd;
    color: #bfbfbf;
}

::-webkit-selection{
    background: #af631cbd;
    color: #bfbfbf;
}

::-htm-selection{
    background: #af631cbd;
    color: #bfbfbf;
}

::-o-selection{
background: #af631cbd;
    color: #bfbfbf;
}
/***FIN COULEUR SÉLECTION TEXTE***/

.cardright-img{float:right;}